@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --radius: 0.625rem;
}

/* Dark mode */
.dark {
  --color-background: oklch(0.141 0.005 285.823);
  --color-foreground: oklch(0.985 0 0);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
